{% extends 'base.html.twig' %}

{% block title %}FHT Stats!{% endblock %}

{% block body %}
<h1>FHT Stats</h1>
<div class="container-fluid">

    <table id="players" class="table-striped">
        <tr>
            <th scope="col">Player</th>
            <th scope="col" class="td-centre">Score/Min</th>
            <th scope="col" class="td-centre">K/D</th>
            <th scope="col" class="td-centre">Kills/Min</th>
            <th scope="col" class="td-centre">Win %</th>
            <th scope="col" class="td-centre">Accuracy</th>
            <th scope="col" class="td-centre">Longest<br />Headshot</th>
            <th scope="col" class="td-centre">Time Played</th>
            <th scope="col" class="td-centre">Rank</th>
            <th scope="col" class="td-centre">Kill<br />Streak</th>
            <th scope="col">Top Class &amp; Weapon</th>
        </tr>
        {% set row = 0 %}
        {% for player in players %}
            {% set stats = player.stats.toArray %}
            {% if stats | length > 0 %}
              <tr scope="row">{% include 'index/tr.html.twig' with {
                      'name': player.playerName,
                      'stat': stats[0]
                  } %}
              </tr>
            {% else %}
              <tr>
                <td colspan="11">{{ player.playerName }}</td>
              </tr>
            {% endif %}
        {% endfor %}
    </table>

</div>
{% endblock %}

{% block javascripts %}
<script>
    $( document ).ready(function() {
        highlightBestElement(".spm");
        highlightBestElement(".kdr");
        highlightBestElement(".kpm");
        highlightBestElement(".wlp");
        highlightBestElement(".acc");
        highlightBestElement(".lhs");
        highlightBestElement(".rank");
        highlightBestElement(".killstreak");
        highlightBestElement(".timeplayed");
        highlightBestElement(".topWepKills");

        function highlightBestElement(eleName) {
            var bestScore = 0;
            var bestElement = undefined;
            $(eleName).each(function() {
                var score = $(this).data("val");
                if (score > bestScore) {
                    bestScore = score;
                    bestElement = $(this);
                }
            });
            if (bestElement != undefined) {
                bestElement.css("background-color", "green");
                bestElement.css("color", "white");
                bestElement.css("font-weight", "bold");
            }
        }
    });
</script>
{% endblock %}
